dotenv $(brew --prefix dc-toolchain-testing)/kos.env

export CC=${KOS_CC_BASE}/bin/${KOS_CC_PREFIX}-gcc
export CXX=${KOS_CC_BASE}/bin/${KOS_CC_PREFIX}-g++

export KOS_BASE=/Users/jpeach/upstream/dc/kallistios
